<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>订单管理</title>

		<link href="../../AmazeUI-2-4-2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="../../AmazeUI-2-4-2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="../../css/personal.css" rel="stylesheet" type="text/css">
		<link href="../../css/orstyle.css" rel="stylesheet" type="text/css">

		<link href="../../css/addstyle.css" rel="stylesheet" type="text/css">

		<script src="../../AmazeUI-2-4-2/assets/js/jquery.min.js"></script>
		<script src="../../AmazeUI-2-4-2/assets/js/amazeui.js"></script>
		<script src="../../js/jquery-3.1.1.js"></script>
		<script src="../../js/ordermanage.js"></script>
		<script src="../../js/layer.js"></script>
		<style type="text/css">
			.am-avg-sm-5 > li {
				width: 25%;
			}
			.theme-popover{display: none;}
			.theme-popover-mask{z-index:10000000;position:fixed;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;display:none;}
			.theme-popover{z-index:10000009;position:fixed;bottom:50%;left:50%;width:500px;height:250px;margin-bottom:-100px;margin-left:-250px;display:none;background:#fff;overflow: hidden;}
		</style>

	</head>

	<body>

		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-order">

						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单管理</strong></div>
						</div>
						<hr/>

						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

							<ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active" onclick="getOrderByStatus()"><a>所有订单</a></li>
								<!--<li><a href="#tab2">待付款</a></li>-->
								<li onclick="getOrderByStatus(0)"><a >待发货</a></li>
								<li onclick="getOrderByStatus(1)"><a >待收货</a></li>
								<li onclick="getOrderByStatus(2)"><a >已完成</a></li>
								<!--<li><a href="#tab5">待评价</a></li>-->
							</ul>
							<!--<div class="am-tabs-bd">-->
								<!--<div class="am-tab-panel am-fade am-in am-active" id="tab1">-->
							<div>
								<div>
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<!--<div class="th th-operation">-->
											<!--<td class="td-inner">商品操作</td>-->
										<!--</div>-->
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
									<div class="order-main">
										<div class="order-list" id="order-list">

										</div>

									</div>

								</div>
							</div>

							<!--分页器-->
							<ul class="am-pagination am-pagination-right" id="ul">
								<!--<li class="am-disabled"><a href="#">&laquo;</a></li>-->
								<!--<li class="am-active"><a href="#">1</a></li>-->
								<!--<li><a href="#">2</a></li>-->
								<!--<li><a href="#">3</a></li>-->
								<!--<li><a href="#">4</a></li>-->
								<!--<li><a href="#">5</a></li>-->
								<!--<li><a href="#">&raquo;</a></li>-->
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="theme-popover-mask"></div>
		<div class="theme-popover">
			<!--标题 -->
			<div class="am-cf am-padding">
				<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单详情</strong></div>
			</div>
			<hr/>
			<div class="am-u-md-12">
				<ul class="am-avg-sm-1 am-avg-md-3 am-thumbnails" id="addressList">
				</ul>
				<span id="message" style="display: block;padding: 10px;color:gray;">
				</span>
				<div class="am-form-group theme-poptit" style="text-align: center;">
					<div style="text-align: center;padding: 20px;">
							<div class="am-btn am-btn-danger close" id="close">确定</div>
							<!--<div class="am-btn am-btn-danger close">取消</div>-->
					</div>
				</div>
			</div>
		</div>

	</body>

</html>