<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>后台管理中心起始页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../adminStyle/adminStyle.css" rel="stylesheet" type="text/css" />
<style>html,body{width:100%;height:100%;}</style>
<script src="../js/jquery.js" type="text/javascript"></script>
<script src="../js/eject.js" type="text/javascript"></script>
<script src="../adminJs/public.js" type="text/javascript"></script>
<!--<script src="../adminJs/main.js" type="text/javascript"></script>-->
 <script type="text/javascript">
     $(document).ready(function () {
         $.ajax({
             url:'/admin/count',
             type:'POST',
             dataType:'JSON',
             success:function (count) {
                 console.info(count);
                 window.document.getElementById("orderNum").innerText = count.orderNum;
                 window.document.getElementById("orderNewNum").innerText = count.orderNewNum;
                 window.document.getElementById("orderSendNum").innerText = count.orderSendNum;
                 window.document.getElementById("orderFinishNum").innerText = count.orderFinishNum;
                 window.document.getElementById("orderCancelNum").innerText = count.orderCancelNum;
                 window.document.getElementById("dealSend").innerText = count.dealSend;
                 window.document.getElementById("dealCancel").innerText = count.dealCancel;
                 window.document.getElementById("dealNoFinish").innerText = count.dealNoFinish;
                 window.document.getElementById("dealFinish").innerText = count.dealFinish;
                 window.document.getElementById("goodNum").innerText = count.goodNum;
                 window.document.getElementById("goodTypeNum").innerText = count.goodTypeNum;
                 window.document.getElementById("userNum").innerText = count.userNum;
                 window.document.getElementById("enableUser").innerText = count.enableUser;
                 window.document.getElementById("disableUser").innerText = count.disableUser;
                 window.document.getElementById("commonUser").innerText = count.commonUser;
                 window.document.getElementById("systemManager").innerText = count.systemManager;
             }
         })
     })
 </script>
 <style type="text/css">
  li{
   width: 20%;
  }
 </style>
</head>
<body>
<div class="wrap start-page">
 <h1><i class="home-icon"></i>欢迎回到**站点管理中心</h1>
 <dl>
  <dt>订单统计信息</dt>
  <dd>
   <ul>
    <li>
     <span>总订单：</span>
     <span id="orderNum"></span>
    </li>
    <li>
     <span>待发货订单：</span>
     <span id="orderNewNum"></span>
    </li>
    <li>
     <span>未确认订单：</span>
     <span id="orderSendNum"></span>
    </li>
    <li>
     <span>已成交订单：</span>
     <span id="orderFinishNum"></span>
    </li>
    <li>
     <span>已取消订单：</span>
     <span id="orderCancelNum"></span>
    </li>
    <li>
     <span>未完成金额：</span>
     <span id="dealNoFinish"></span>
    </li>
    <li>
     <span>待确认金额：</span>
     <span id="dealSend"></span>
    </li>
    <li>
     <span>已成交金额：</span>
     <span id="dealFinish"></span>
    </li>
    <li>
     <span>已取消金额：</span>
     <span id="dealCancel"></span>
    </li>
   </ul>
  </dd>
 </dl>

 <dl>
  <dt>商户统计信息</dt>
  <dd>
   <ul>
    <!--<li>-->
     <!--<span>店铺总数量：</span>-->
     <!--<span>1252</span>-->
    <!--</li>-->
    <li>
     <span>商品总数：</span>
     <span id="goodNum"></span>
    </li>
    <li>
     <span>商品类型数：</span>
     <span id="goodTypeNum"></span>
    </li>
    <!--<li>-->
     <!--<span>酒吧类店铺：</span>-->
     <!--<span>128家</span>-->
    <!--</li>-->
    <!--<li>-->
     <!--<span>家政服务类店铺：</span>-->
     <!--<span>300家</span>-->
    <!--</li>-->
    <!--<li>-->
     <!--<span>外卖类店铺：</span>-->
     <!--<span>458家</span>-->
    <!--</li>-->
   </ul>
  </dd>
 </dl>

 <dl>
  <dt>系统用户</dt>
  <dd>
   <ul>
    <li>
     <span>用户：</span>
     <span id="userNum"></span>
    </li>
    <li>
     <span>可用用户：</span>
     <span id="enableUser"></span>
    </li>
    <li>
     <span>禁用用户：</span>
     <span id="disableUser"></span>
    </li>
    <li>
     <span>普通用户：</span>
     <span id="commonUser"></span>
    </li>
    <li>
     <span>系统管理员：</span>
     <span id="systemManager"></span>
    </li>
    <!--<li>-->
     <!--<span>白金会员：</span>-->
     <!--<span>432</span>-->
    <!--</li>-->
    <!--<li>-->
     <!--<span>商户会员：</span>-->
     <!--<span>128</span>-->
    <!--</li>-->
   </ul>
  </dd>
 </dl>
 
 <!--<dl>-->
  <!--<dt>访问统计</dt>-->
  <!--<dd>-->
   <!--<ul>-->
    <!--<li>-->
     <!--<span>今日访问：</span>-->
     <!--<span>1356</span>-->
    <!--</li>-->
    <!--<li>-->
     <!--<span>当前在线人数：</span>-->
     <!--<span>98</span>-->
    <!--</li>-->
    <!--<li>-->
     <!--<span>最新留言：</span>-->
     <!--<span>1</span>-->
    <!--</li>-->
   <!--</ul>-->
  <!--</dd>-->
 <!--</dl>-->
 
 <dl>
  <dt>系统信息</dt>
  <dd>
   <ul>
    <li>
     <span>服务器操作系统：</span>
     <span>WIN(127.0.0.1)</span>
    </li>
    <li>
     <span>WEB服务器：</span>
     <span>TOMCAT9.0</span>
    </li>
    <li>
     <span>MySQL 版本：</span>
     <span>5.5.20</span>
    </li>
    <li>
     <span>安全模式：</span>
     <span>否</span>
    </li>
    <!--<li>-->
     <!--<span>安全模式GID:：</span>-->
     <!--<span>否</span>-->
    <!--</li>-->
    <li>
     <span>时区设置：</span>
     <span>Europe/Paris</span>
    </li>
    <li>
     <span>编码：</span>
     <span>UTF-8</span>
    </li>
   </ul>
  </dd>
 </dl>
</div>
</body>
</html>