<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>订单列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../adminStyle/adminStyle.css" rel="stylesheet" type="text/css" />
 <link href="../AmazeUI-2-4-2/assets/css/admin.css" rel="stylesheet" type="text/css">
 <link href="../AmazeUI-2-4-2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
<script src="../js/jquery.js"></script>
<script src="../adminJs/public.js"></script>
<script src="../js/layer.js"></script>
<script src="../adminJs/orderList.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="order"></i><em>订单列表</em></span>
  </div>
  <div class="operate">
   <form>
    <img src="../adminImages/icon_search.gif"/>
    <input type="text" id="orderId" class="textBox length-long" placeholder="请输入订单号..."/>
    <select class="inline-select" id="status">
     <option value="">请选择</option>
     <option value="0">未发货</option>
     <option value="1">已发货</option>
     <option value="2">已完成</option>
     <option value="3">取消订单</option>
    </select>
    <input type="button" value="查询" onclick="initOrSearch()" class="tdBtn"/>
   </form>
  </div>
  <table class="list-style Interlaced">
   <thead>
    <tr>
     <th style="text-align: center;"><input type="checkbox" id="del" onclick="selectAll()"/></th>
     <th style="text-align: center;">订单号</th>
     <th style="text-align: center;">下单时间</th>
     <th style="text-align: center;">收件人信息</th>
     <th style="text-align: center;">订单金额</th>
     <th style="text-align: center;">订单状态</th>
     <th style="text-align: center;">操作</th>
    </tr>
   </thead>
   <tbody id="orderList"></tbody>
   <!--<tr>-->
    <!--<td>-->
     <!--&lt;!&ndash;<input type="checkbox"/>&ndash;&gt;-->
     <!--<a href="order_detail.html">2015041803225</a>-->
    <!--</td>-->
    <!--<td class="center">-->
     <!--<span class="block">DeatGhost</span>-->
     <!--<span class="block">2015-04-18 12:00</span>-->
    <!--</td>-->
    <!--<td width="450">-->
     <!--<span class="block">张三[18309275673]</span>-->
     <!--<address>陕西省西安市未央区255号</address>-->
    <!--</td>-->
    <!--<td class="center">-->
     <!--<span><i>￥</i><b>58.00</b></span>-->
    <!--</td>-->
    <!--<td class="center">-->
     <!--<span>未付款</span>-->
    <!--</td>-->
    <!--<td class="center">-->
     <!--<a href="order_detail.html" class="inline-block" title="查看订单"><img src="images/icon_view.gif"/></a>-->
     <!--<a class="inline-block" title="删除订单"><img src="images/icon_trash.gif"/></a>-->
    <!--</td>-->
   <!--</tr>-->
  </table>
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
      <!-- Operation -->
	  <div class="BatchOperation fl" style="width: 30%;">
	   <!--<input type="checkbox" id="del" onclick="selectAll()"/>-->
	   <!--<label for="del" class="btnStyle middle" onclick="selectAll()">全选</label>-->
	   <input type="button" value="打印订单" class="btnStyle"/>
	   <input type="button" value="配货" class="btnStyle"/>
	   <input type="button" onclick="deleteOrder(null)" value="批量删除订单" class="btnStyle"/>
	  </div>
	  <!-- turn page -->
	  <!--<div class="turnPage center fr" id="ul">-->
	   <!--<a>第一页</a>-->
	   <!--<a>1</a>-->
	   <!--<a>最后一页</a>-->
	  <!--</div>-->
   <!--分页器-->
   <ul class="am-pagination am-pagination-right" id="ul" style="width: 70%;margin-left: 30%;">
    <!--<li class="am-disabled"><a href="#">&laquo;</a></li>-->
    <!--<li class="am-active"><a href="#">1</a></li>-->
    <!--<li><a href="#">2</a></li>-->
    <!--<li><a href="#">3</a></li>-->
    <!--<li><a href="#">4</a></li>-->
    <!--<li><a href="#">5</a></li>-->
    <!--<li><a href="#">&raquo;</a></li>-->
   </ul>
  </div>
 </div>
</body>
</html>