<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>商品列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <link href="../adminStyle/adminStyle.css" rel="stylesheet" type="text/css" />
 <link href="../adminStyle/adminStyle.css" rel="stylesheet" type="text/css" />
 <link href="../AmazeUI-2-4-2/assets/css/admin.css" rel="stylesheet" type="text/css">
 <link href="../AmazeUI-2-4-2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
<link href="../adminStyle/adminStyle.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
 <script src="../adminJs/public.js"></script>
 <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="../adminJs/DateFormat.js"></script>
 <!--<script type="text/javascript" src="../adminJs/goodType.js"></script>-->
 <script type="text/javascript" src="../js/layer.js"></script>
 <script type="text/javascript" src="../js/bootstrap.min.js"></script>
 <script type="text/javascript" src="../adminJs/goodList.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i></i><em>产品列表</em></span>
    <span class="modular fr"><a href="add_product.html" class="pt-link-btn">+添加商品</a></span>
  </div>
  <div class="operate">
   <form>
    <input type="text" class="textBox length-long" id="searchKey" placeholder="输入产品名称..."/>
    <input type="button" value="查询" onclick="initOrSearchGood(this)" class="tdBtn"/>
   </form>
  </div>
  <table class="list-style Interlaced">
   <thead>
    <tr>
     <th class="center">编号</th>
     <th class="center">产品</th>
     <th class="center">名称</th>
     <th class="center">原价</th>
     <th class="center">销售价</th>
     <th class="center">销量</th>
     <th class="center">库存</th>
     <th class="center">上下架</th>
     <th class="center">操作</th>
    </tr>
   </thead>
   <tbody id="goodList">

   </tbody>
   <!--<tr>-->
    <!--<td>-->
     <!--<span>-->
     <!--<input type="checkbox" class="middle children-checkbox"/>-->
     <!--<i>0</i>-->
     <!--</span>-->
    <!--</td>-->
    <!--<td class="center pic-area"><img src="#" class="thumbnail"/></td>-->
    <!--<td class="td-name">-->
      <!--<span class="ellipsis td-name block">这是产品或服务名称(宽度350px,样式自动截取，以省略号表示哦，程序可以处理“截取字符串”)</span>-->
    <!--</td>-->
    <!--<td class="center">-->
     <!--<span>-->
      <!--<i>￥</i>-->
      <!--<em>0.00</em>-->
     <!--</span>-->
    <!--</td>-->
    <!--<td class="center">-->
     <!--<span>-->
      <!--<i>￥</i>-->
      <!--<em>0.00</em>-->
     <!--</span>-->
    <!--</td>-->
    <!--<td class="center">-->
     <!--<span>-->
      <!--<em>589</em>-->
      <!--<i>件</i>-->
     <!--</span>-->
    <!--</td>-->
    <!--<td class="center"><img src="images/yes.gif"/></td>-->
    <!--<td class="center"><img src="images/no.gif"/></td>-->
    <!--<td class="center">-->
     <!--<a href="http://www.baidu.com/跳转至前台页面哦" title="查看" target="_blank"><img src="images/icon_view.gif"/></a>-->
     <!--<a href="edit_product.html" title="编辑"><img src="images/icon_edit.gif"/></a>-->
     <!--<a title="删除"><img src="images/icon_drop.gif"/></a>-->
    <!--</td>-->
   <!--</tr>-->

   <!--<tr>-->
    <!--<td>-->
     <!--<span>-->
     <!--<input type="checkbox" class="middle children-checkbox"/>-->
     <!--<i>0</i>-->
     <!--</span>-->
    <!--</td>-->
    <!--<td class="center pic-area"><img src="#" class="thumbnail"/></td>-->
    <!--<td class="td-name">-->
      <!--<span class="ellipsis td-name block">这是产品或服务名称(宽度350px,样式自动截取，以省略号表示哦，程序可以处理“截取字符串”)</span>-->
    <!--</td>-->
    <!--<td class="center">-->
     <!--<span>-->
      <!--<i>￥</i>-->
      <!--<em>0.00</em>-->
     <!--</span>-->
    <!--</td>-->
    <!--<td class="center">-->
     <!--<span>-->
      <!--<i>￥</i>-->
      <!--<em>0.00</em>-->
     <!--</span>-->
    <!--</td>-->
    <!--<td class="center">-->
     <!--<span>-->
      <!--<em>589</em>-->
      <!--<i>件</i>-->
     <!--</span>-->
    <!--</td>-->
    <!--<td class="center"><img src="images/yes.gif"/></td>-->
    <!--<td class="center"><img src="images/no.gif"/></td>-->
    <!--<td class="center"><img src="images/yes.gif"/></td>-->
    <!--<td class="center">-->
     <!--<a title="查看" target="_blank"><img src="images/icon_view.gif"/></a>-->
     <!--<a title="编辑"><img src="images/icon_edit.gif"/></a>-->
     <!--<a title="删除"><img src="images/icon_drop.gif"/></a>-->
    <!--</td>-->
   <!--</tr>-->
   <!---->
   <!--<tr>-->
    <!--<td>-->
     <!--<span>-->
     <!--<input type="checkbox" class="middle children-checkbox"/>-->
     <!--<i>0</i>-->
     <!--</span>-->
    <!--</td>-->
    <!--<td class="center pic-area"><img src="#" class="thumbnail"/></td>-->
    <!--<td class="td-name">-->
      <!--<span class="ellipsis td-name block">这是产品或服务名称(宽度350px,样式自动截取，以省略号表示哦，程序可以处理“截取字符串”)</span>-->
    <!--</td>-->
    <!--<td class="center">-->
     <!--<span>-->
      <!--<i>￥</i>-->
      <!--<em>0.00</em>-->
     <!--</span>-->
    <!--</td>-->
    <!--<td class="center">-->
     <!--<span>-->
      <!--<i>￥</i>-->
      <!--<em>0.00</em>-->
     <!--</span>-->
    <!--</td>-->
    <!--<td class="center">-->
     <!--<span>-->
      <!--<em>589</em>-->
      <!--<i>件</i>-->
     <!--</span>-->
    <!--</td>-->
    <!--<td class="center"><img src="images/yes.gif"/></td>-->
    <!--<td class="center"><img src="images/no.gif"/></td>-->
    <!--<td class="center"><img src="images/yes.gif"/></td>-->
    <!--<td class="center">-->
     <!--<a title="查看" target="_blank"><img src="images/icon_view.gif"/></a>-->
     <!--<a title="编辑"><img src="images/icon_edit.gif"/></a>-->
     <!--<a title="删除"><img src="images/icon_drop.gif"/></a>-->
    <!--</td>-->
   <!--</tr>-->
  </table>
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
      <!-- Operation -->
	  <div class="BatchOperation fl">
	   <input type="checkbox" id="del"/>
	   <label for="del" class="btnStyle middle">全选</label>
	   <input type="button" value="批量删除" class="btnStyle"/>
	  </div>
	  <!-- turn page -->
	  <!--<div class="turnPage center fr" id="ul">-->
	   <!--<a>第一页</a>-->
	   <!--<a>1</a>-->
	   <!--<a>最后一页</a>-->
	  <!--</div>-->
   <!--分页器-->
   <ul class="am-pagination am-pagination-right" id="ul" style="width: 70%;margin-left: 30%;">
    <!--<li class="am-disabled"><a href="#">&laquo;</a></li>-->
    <!--<li class="am-active"><a href="#">1</a></li>-->
    <!--<li><a href="#">2</a></li>-->
    <!--<li><a href="#">3</a></li>-->
    <!--<li><a href="#">4</a></li>-->
    <!--<li><a href="#">5</a></li>-->
    <!--<li><a href="#">&raquo;</a></li>-->
   </ul>
  </div>
 </div>

 <!-- 模态框（Modal） -->
 <div class="modal fade" id="tip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h4 class="modal-title" id="myModalLabel">删除类型</h4>
    </div>
    <div class="modal-body">
     <input type="hidden" id="typeId"/>
     <div style="width: 100%;text-align: center;color: red;font-size: 16px;">删除该类型连同该类型的所有商品都删除!</div>
     <div style="width: 100%;text-align: center;">你确定要删除该类型吗？</div>
    </div>
    <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
     <button type="button" class="btn btn-primary" onclick="deleteGoodType(1)">确定</button>
    </div>
   </div><!-- /.modal-content -->
  </div><!-- /.modal -->
 </div>
</body>
</html>