<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>修改密码</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../adminStyle/adminStyle.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="../adminJs/resetPassword.js"></script>
 <script type="text/javascript" src="../js/layer.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="user"></i><em>修改密码</em></span>
  </div>
  <table class="noborder">
   <tr>
    <td style="text-align:right;">原密码：</td>
    <td><input type="password" class="textBox length-middle" id="oldPassword"/></td>
    <td><span></span></td>
   </tr>
   <tr>
    <td style="text-align:right;">新密码：</td>
    <td><input type="password" class="textBox length-middle password" id="newPassword"/></td>
    <td><span></span></td>
   </tr>
   <tr>
    <td style="text-align:right;">再次确认密码：</td>
    <td><input type="password" class="textBox length-middle password" id="confirmNewPassword"/></td>
    <td><span></span></td>
   </tr>
   <tr>
    <td style="text-align:right;"></td>
    <td><input type="button" onclick="updatePassword()" class="tdBtn" value="保存"/></td>
   </tr>
  </table>
 </div>
</body>
</html>