<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.eshop.mapper.GoodMapper">
    <resultMap id="GoodMap" type="com.shop.eshop.model.Good">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="SMALLINT" property="type" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
        <result column="stock" jdbcType="INTEGER" property="stock" />
        <result column="sale_num" jdbcType="INTEGER" property="saleNum" />
        <result column="advise" jdbcType="INTEGER" property="advise" />
        <result column="activity" jdbcType="INTEGER" property="activity" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="start_time" jdbcType="DATE" property="startTime" />
        <result column="end_time" jdbcType="DATE" property="endTime" />
        <!--得到商品的同时级联查询所有的图片-->
        <collection property="goodPics" column="id" ofType="com.shop.eshop.model.GoodPic" select="getGoodPicByGoodId"/>
    </resultMap>

    <resultMap id="GoodPicMap" type="com.shop.eshop.model.GoodPic">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="pic_name" jdbcType="VARCHAR" property="picName" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="grade" jdbcType="BIT" property="grade" />
        <result column="good_id" jdbcType="INTEGER" property="goodId" />
    </resultMap>


    <!--根据类型得到商品-->
    <select id="getGoodByCondition" resultMap="GoodMap" parameterType="com.shop.eshop.dto.TypeCondition">
        SELECT g.* FROM good AS g WHERE 1 = 1
        <if test = "menuId != null">
            and g.type in (SELECT gt2.id from good_type as gt2 where gt2.menu_id =  #{menuId})
        </if>
        <if test = "typeId != null">
            and g.type = #{typeId}
            <if test="count != null">
                limit 0,8
            </if>
        </if>

    </select>

    <!-- 得到所有的商品 -->
    <select id="getAllGood" resultMap="GoodMap">
        SELECT * from good
    </select>
    <!-- 根据商品id获取商品-->
    <select id="getGoodById" parameterType="java.lang.Long" resultMap="GoodMap">
        SELECT * from good where id = #{id}
    </select>
    <!-- 根据商品id获取商品图片-->
    <select id="getGoodPicByGoodId" resultMap="GoodPicMap" parameterType="int">
        SELECT * from good_pic where good_id = #{id}
    </select>
    <!-- 获取销量前10的商品信息-->
    <select id="getGoodBySaleNum" resultMap="GoodMap">
        SELECT * FROM good ORDER BY sale_num limit 1,10
    </select>

    <select id="getGoodByType" resultMap="GoodMap" parameterType="java.lang.Integer">
        SELECT * from good where type = #{id} limit 0,8
    </select>


</mapper>