<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.eshop.mapper.GoodMapper">
    <resultMap id="GoodMap" type="com.shop.eshop.model.Good">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="SMALLINT" property="type" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
        <result column="stock" jdbcType="INTEGER" property="stock" />
        <result column="sale_num" jdbcType="INTEGER" property="saleNum" />
        <result column="advise" jdbcType="CHAR" property="advise" />
        <result column="activity" jdbcType="BIT" property="activity" />
        <result column="status" jdbcType="CHAR" property="status" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="start_time" jdbcType="DATE" property="startTime" />
        <result column="end_time" jdbcType="DATE" property="endTime" />
    </resultMap>

    <select id="getAllGood" resultMap="GoodMap">
        SELECT * from good
    </select>

</mapper>