<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.eshop.mapper.MenuMapper">
    <resultMap id="MenuMap" type="com.shop.eshop.model.Menu">
        <id column="Id" property="id"/>
        <result column="name" property="name"/>
        <result column="grade" property="grade"/>
        <result column="parent_id" property="parentId"/>
        <result column="status" property="status"/>
        <result column="img" property="img"/>
        <result column="create_time" property="createTime"/>
        <collection property="child" ofType="com.shop.eshop.model.Menu" column="id" select="getMenuByParentId"/>
        <collection property="goodTypes" ofType="com.shop.eshop.model.GoodType" column="id" select="com.shop.eshop.mapper.GoodTypeMapper.getGoodTypeByMenuId"/>
    </resultMap>
    <select id="getMenuByParentId" resultMap="MenuMap" parameterType="Integer">
        SELECT * from menu WHERE parent_id = #{id}
    </select>
</mapper>