<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.eshop.mapper.OrderManageMapper">
    <resultMap id="orderManageMap" type="com.shop.eshop.dto.OrderVo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="receive_address" jdbcType="BIGINT" property="receiveAddress" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
        <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="message" jdbcType="VARCHAR" property="message" />
        <result column="sum" jdbcType="FLOAT" property="sum" />
        <collection property="orderDetailVoList" ofType="com.shop.eshop.dto.OrderDetailVo" column="order_id" select="getOrderDetailByOrderId"/>
    </resultMap>

    <resultMap id="OrderDetailManage" type="com.shop.eshop.dto.OrderDetailVo">
        <id column="order_id" jdbcType="VARCHAR" property="orderId" />
        <!--<result column="good_id" jdbcType="BIGINT" property="goodId" />-->
        <result column="good_count" jdbcType="INTEGER" property="goodCount" />
        <result column="good_price" jdbcType="FLOAT" property="goodPrice" />
        <association property="good" javaType="com.shop.eshop.model.Good" column="good_id" select="com.shop.eshop.mapper.GoodMapper.getGoodById"/>
    </resultMap>

    <!--获取所有订单-->
    <select id="getAllOrder" parameterType="java.lang.Long" resultMap="orderManageMap">
        SELECT * from `order` where user_id = #{userId} and status != 4 ORDER BY create_time desc
    </select>
    <!--获取订单的详细集合-->
    <select id="getOrderDetailByOrderId" parameterType="java.lang.String" resultMap="OrderDetailManage">
        select * from `order_detail` where order_id = #{orderId}
    </select>

    <!--获取待发货、待收货、已完成订单-->
    <select id="getOrderByStatus" parameterType="com.shop.eshop.dto.OrderStatus" resultMap="orderManageMap">
        SELECT * from `order` where user_id = #{userId}
         <if test="status != null">
             and status = #{status}
         </if>
        and status != 4 ORDER BY create_time desc
    </select>

    <!--修改订单状态-->
    <update id="updateOrderStatus" parameterType="com.shop.eshop.dto.OrderVo">
        UPDATE `order` SET status = #{status}
         <if test="cancelTime != null">
             ,cancel_time =#{cancelTime}
         </if>
         where order_id = #{orderId}
    </update>

    <select id="getOrderByOrderId" parameterType="com.shop.eshop.dto.OrderVo" resultMap="orderManageMap">
        SELECT * FROM `order` where order_id = #{orderId}
    </select>

</mapper>