<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.eshop.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.shop.eshop.model.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="reg_time" jdbcType="TIMESTAMP" property="regTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, real_name, password, phone, email, reg_time, modify_time, status
  </sql>

  <!--注册用户-->
  <insert id="registerUser" parameterType="com.shop.eshop.model.User">
    INSERT into user (user_name,password,phone,reg_time)
    VALUES (#{userName},#{password},#{phone},#{regTime})
  </insert>

  <!--手机号或昵称登陆-->
  <select id="userLogin" parameterType="com.shop.eshop.model.User" resultMap="BaseResultMap">
    SELECT * FROM user WHERE
    phone = #{phone} or user_name = #{phone}
  </select>

  <!-- 检查用户名或昵称使用唯一-->
  <select id="checkUser" parameterType="com.shop.eshop.model.User" resultMap="BaseResultMap">
    SELECT * FROM USER where 1=1
    <if test="userName != null and userName != ''">
      and user_name = #{userName} or phone = #{userName}
    </if>
    <if test="phone != null and phone != ''">
      and phone =#{phone}
    </if>
  </select>

  <!--根据id获取user-->
  <select id="getUserById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT * from user where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <!--更新用户信息-->
  <update id="updateUserById" parameterType="com.shop.eshop.model.User" >
    UPDATE user set phone = #{phone},modify_time = #{modifyTime}
    <if test="realName != ''">
      ,real_name = #{realName}
    </if>
    <if test="password != ''">
      ,password = #{password}
    </if>
    <if test="email != ''">
      ,email = #{email}
    </if>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>


</mapper>