<!DOCTYPE html>
<html th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div class="footer ">
    <!--<div class="footer-hd ">-->
    <!--<p>-->
    <!--<a href="# ">恒望科技</a>-->
    <!--<b>|</b>-->
    <!--<a href="# ">商城首页</a>-->
    <!--<b>|</b>-->
    <!--<a href="# ">支付宝</a>-->
    <!--<b>|</b>-->
    <!--<a href="# ">物流</a>-->
    <!--</p>-->
    <!--</div>-->
    <div class="footer-bd ">
        <p>
            <a href="# ">关于eshop</a>
            <a href="# ">网站地图</a>
            <em>素材来源于网上，如有侵犯请联系---电话:18814383247　　QQ:1752489558　　微信:13211062425</em>
        </p>
    </div>
</div>
</body>
</html>